@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'DM Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



body * {
  transition: color, transform, scale;
  transition-duration: 0.07s, 0.1s, 0.1s;
}

.sub-animado a::before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0%;
  height: 3px;
  background-image: linear-gradient(to right, #d37912, #A83279);
  transition: all .2s;
}

.sub-animado a:hover::before {
  width: 100%;
}

::-webkit-scrollbar {
  width: 4px;
  background-color: white;
}
 
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #d37912, #A83279);
}

.dark::-webkit-scrollbar {
  width: 5px;
  background-color: black;
}